.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #CAAA93;
    /*#15616d*/
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}